.about {
  background-color: #F3F0E9;
  background-image: url(../img/about-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: left bottom;

  @include tablet {
    background-image: url(../img/about-bg-tablet.png);
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include small-tablet {
    background-image: none;
  }

  @include mobile {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.about__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content 1fr;
  gap: 30px;

  @include small-tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.about__image-wrapper {
  grid-column: 6 span;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;

  @include small-tablet {
    width: 100%;
  }
}

.about__image {
  border-radius: 20px;

  @include small-tablet {
    width: 100%;
    max-height: 520px;
    object-position: center -30px;
  }

  @include mobile {
    object-position: center center;
  }
}

.about__content {
  grid-column: 6 span;
  grid-column-start: 7;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;

  @include small-tablet {
    width: 100%;
  }
}

.about__title {
  position: relative;
  grid-column: 6 span;
  grid-column-start: 7;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 0;
  font-family: var(--second-family);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  color: #002856;
  margin-bottom:20px;

  @include small-tablet {
    text-align: center;
  }

  @include mobile {
    font-size: 24px;
  }

  &::after {
    content: '';
    position: absolute;
    top: -75px;
    left: 140px;
    display: block;
    width: 301px;
    height: 130px;
    background-image: url("../img/about-tooltip.png");
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 20px;

    @include tablet {
      display: none;
    }
    //
    //@include small-tablet {
    //  display: block;
    //  left: -160px;
    //  top: -70px;
    //  width: 244px;
    //  height: 93px;
    //  background-image: url("../img/about-tooltip-tablet.png");
    //  margin-left: 10px;
    //}
    //
    //@include mobile {
    //  left: 0;
    //  transform: translateX(-45%);
    //  top: -75px;
    //}
  }
}

.about__descr {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #002856;

  @include mobile {
    font-size: 14px;
  }
}

.about__text {
  margin: 0;
  margin-bottom: 8px;

  &:first-child {
    margin-bottom: 18px;
  }
}

.about__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: var(--base-color);
  margin-top: 32px;

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 45px;
    height: 32px;
    right: -53px;
    background-image: url(../img/svg/link-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    background-color: var(--base-color);
    bottom: -3px;
  }

  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
    transition: opacity 0.2s;
  }
}
