.about {
  background-color: #F3F0E9;
  background-image: url(../img/about-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: left bottom;

  @include tablet {
    background-image: url(../img/about-bg-tablet.png);
  }

  @include small-tablet {
    background-image: none;
  }

  @include mobile {
    padding-top: 64px;
  }
}

.about__wrapper {
  display: flex;
  gap: 30px;

  @include small-tablet {
    flex-direction: column;
  }

}

.about__image-wrapper {
  width: 50%;

  @include small-tablet {
    width: 100%;
  }
}

.about__image {
  border-radius: 20px;

  @include small-tablet {
    width: 100%;
    max-height: 520px;
    object-position: center -30px;
  }

  @include mobile {
    object-position: center center;
  }
}

.about__content {
  width: 50%;

  @include small-tablet {
    width: 100%;
  }
}

.about__title {
  margin: 0;
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  color: #002856;
  margin-bottom: 50px;

  @include small-tablet {
    margin-bottom: 30px;
  }

  @include mobile {
    font-size: 24px;
  }
}

.about__descr {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #002856;

  @include mobile {
    font-size: 14px;
  }
}

.about__text {
  margin: 0;
  margin-bottom: 8px;

  &:first-child {
    margin-bottom: 18px;
  }
}

.about__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: var(--base-color);
  margin-top: 32px;

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 45px;
    height: 32px;
    right: -53px;
    background-image: url(../img/svg/link-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    background-color: var(--base-color);
    bottom: -3px;
  }

  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
    transition: opacity 0.2s;
  }
}
