.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 13;

  &--colored {
    background: var(--bg-color);
    border-bottom: 1px solid var(--accent-color);
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  padding: 15px 100px;

  @include big-desktop {
    margin: 0 auto;
    padding: 10px var(--container-offset);
    max-width: var(--container-width);
  }

  @include tablet {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header__logo {
  z-index: 10;
  flex-shrink: 0;
  margin-right: auto;
}

.nav {
  margin-right: 70px;

  @include small-tablet {
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: var(--bg-color);
    opacity: 0;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 5;
    pointer-events: none;
  }
}

.menu--active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 30px;

  @include small-tablet {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }
}

.nav__link {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--base-color);
  text-transform: uppercase;

  @include small-tablet {
    font-size: 20px;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 0;
    background-color: var(--base-color);
    top: 100%;
    left: 0;
    margin-top: 10px;
    transition: width .3s ease-in-out;
  }

  &:hover {
    &:before {
      width: 100%;

      @include small-tablet {
        width: 0;
      }
    }

    @include small-tablet {
      opacity: 0.5;
      transition: opacity 0.2s;
    }
  }

  &:focus,
  &:active {
    opacity: 0.5;
    transition: opacity 0.2s;
  }
}

.header__tel {
  z-index: 10;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 44px;
  color: var(--base-color);
  font-feature-settings: lnum;
  font-variant-numeric: lining-nums;

  @include big-desktop {
    font-size: 0;
  }

  @include small-tablet {
    margin-left: auto;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 44px;
    height: 44px;
    left: 0;
    background-image: url(../img/svg/phone-icon.svg);
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
    transition: opacity 0.2s;
  }
}

.burger {
  display: none;

  @include small-tablet {
    z-index: 10;
    display: block;
    margin-left: 20px;
    position: relative;
    border-radius: 10px;
    width: 44px;
    height: 44px;
  }

  @include mobile {
    margin-left: 10px;
  }
}

.burger__line {
  position: absolute;
  width: 26px;
  height: 2px;
  background-color: var(--base-color);
  border-radius: 5px;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.3s;

  &:first-child {
    margin-top: -7px;
  }

  &:last-child {
    margin-top: 7px;
  }
}

.burger--active .burger__line {
  transition: transform 0.3s;

  &:first-child {
    margin: 0;
    transform: translateX(-50%) rotate(45deg);
  }

  &:nth-child(2) {
    display: none;
  }

  &:last-child {
    margin: 0;
    transform: translateX(-50%) rotate(-45deg);
  }
}
