.services {
  background-image: linear-gradient(94.39deg, #B7C7D3 50.94%, #E5E0CC 96.27%);
  padding-top: 100px;
  padding-bottom: 100px;

  @include tablet {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include mobile {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.services__title {
  margin: 0;
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  color: #002856;
  margin-bottom: 50px;
  text-align: center;

  @include mobile {
    font-size: 24px;
  }
}

.services__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }
}

.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  padding: 50px;
  grid-column: 6 span;
  min-height: 373px;
  color: var(--base-color);
  border-radius: 20px;

  @include small-tablet {
    grid-column: 12 span;
    padding: 40px 20px;
    min-height: auto;
  }

  @include mobile {
    grid-column: 2 span;
    font-size: 24px;
  }
}

.services__subtitle {
  margin: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  color: var(--base-color);
  margin-bottom: 25px;

  @include tablet {
    font-size: 18px;
  }

  @include small-tablet {
    font-size: 16px;
  }
}

.services__price {
  margin: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: var(--base-color);
  margin-bottom: 25px;

  @include tablet {
    font-size: 18px;
  }

  @include small-tablet {
    font-size: 16px;
  }
}

.services__descr {
  margin: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--base-color);
  text-align: center;
  margin-bottom: 25px;

  @include mobile {
    font-size: 14px;
  }
}

.services__format {
  margin: 0;
  margin-top: auto;
  margin-bottom: 25px;

  @include mobile {
    font-size: 14px;
  }
}

.services__link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--base-color);
  position: relative;
  left: -28px;
  display: inline-flex;
  align-items: center;
  color: var(--base-color);

  @include mobile {
    font-size: 14px;
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 45px;
    height: 32px;
    right: -54px;
    background-image: url(../img/svg/link-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    background-color: var(--base-color);
    bottom: -3px;
  }

  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
    transition: opacity 0.2s;
  }
}
