<section class="directions" id="directions">
  <div class="container">
    <h2 class="directions__title">С чем работаю</h2>
    <ul class="list-reset directions__list">
      <li class="directions__item">
        <p class="directions__number">
          /01
        </p>
        <p class="directions__descr">
          Психогенное бесплодие (бесплодие неясного генеза), беременность не наступает
        </p>
      </li>
      <li class="directions__item">
        <p class="directions__number">
          /02
        </p>
        <p class="directions__descr">
          Психологическое сопровождение на всех этапах ЭКО/ВРТ: от принятия решения о вступлении в протокол до получения
          положительного результата теста на беременность
        </p>
      </li>
      <li class="directions__item">
        <p class="directions__number">
          /03
        </p>
        <p class="directions__descr">
          Помощь в ситуации, когда Вы не можете определиться, действительно ли вам нужен ребенок
        </p>
      </li>
      <li class="directions__item">
        <p class="directions__number">
          /04
        </p>
        <p class="directions__descr">
          Вы беременны, но беременность «не радует»
        </p>
      </li>
      <li class="directions__item">
        <p class="directions__number">
          /05
        </p>
        <p class="directions__descr">
          Вы принимаете решение, применять ли донорские гаметы/эмбрионы в программе ЭКО, суррогатное материнство
        </p>
      </li>
      <li class="directions__item">
        <p class="directions__number">
          /06
        </p>
        <p class="directions__descr">
          Поддержка после перинатальных утрат (неудачные попытки ЭКО/ВРТ, замершая беременность, выкидыш)
        </p>
      </li>

      <li class="directions__item">
        <p class="directions__number">/07</p>
        <p class="directions__descr">
          Поддержка после перинатальных утрат (неудачные попытки ЭКО/ВРТ, замершая беременность, выкидыш)
        </p>
      </li>
      <li class="directions__item">
        <p class="directions__number">/08</p>
        <p class="directions__descr">Другие проблемы (неприятие своего тела, высокий уровень стресса, семейный кризис,
          ощущение социальной стигмы, стыда,«давления времени» и др.)</p>
      </li>
    </ul>
  </div>

</section>
