<section class="hero" id="hero">
  <div class="hero__wrapper">
    <div class="hero__image-wrapper">
      <picture>
        <source srcset="img/hero_full.webp 1x, img/hero_full@2x.webp 2x" type="image/webp">
        <img class="hero__image" loading="lazy" src="img/hero_full.jpg" srcset="img/hero_full@2x.jpg 2x"
          width="2340" height="1560" alt="фото Ирины Беляевой">
      </picture>
    </div>
    <div class="hero__content">
      <div class="hero__content-wrapper">
        <p class="hero__text">Добро пожаловать на мой сайт!</p>
        <h1 class="hero__title">МЕНЯ ЗОВУТ ИРИНА&nbsp;БЕЛЯЕВА</h1>
        <p class="hero__subtitle">психолог-практик, опыт работы более&nbsp;5&nbsp;лет</p>
        <p class="hero__text">Я помогу вам обрести удовлетворенность своей жизнью на пути к ребенку, к вашей Мечте.</p>
        <p class="hero__text">Я на Вашей стороне!</p>
        <a class="btn-reset button hero__btn" href="#contacts" data-scroll="order" aria-label="Записаться">
          <span aria-hidden="true">
            <span>Записаться</span>
            <span>Записаться</span>
          </span>
        </a>
      </div>

    </div>
  </div>
</section>
