<div class="graph-modal">

  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="about">
    <button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content popup__content">
      <h3 class="popup__title">Дипломы</h3>
      <div class="popup__descr">
        <ul class="list-reset">
          <li>Диплом - МГППУ (кафедра нейро- и патопсихологии развития) — магистр психологии, клинический психолог, перинатальный психолог</li>
          <li>Сертификат «Работа с перинатальными потерями. Психологическая помощь при переживании горя»</li>
          <li>Сертификат «Краткосрочная терапия: методы и методики быстрых изменений»</li>
          <li>Сертификат «Современные методы психологической коррекции и консультирования»</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="service-1">
    <button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content popup__content">
      <h3 class="popup__title">Индивидуальная консультация</h3>
      <p class="popup__price">50 000 руб / месяц</p>
      <div class="popup__descr">
        <p>
          Индивидуальная консультация — формат работы, который позволяет раскрыть назревшие психологические трудности наедине со специалистом. Внимание личного психолога направлено только на диалог с клиентом, что позволяет достичь стабильного эффекта от консультаций.
        </p>
        <ul class="list-reset">
          Индивидуальная консультация может включать в себя:
          <li>терапевтическую беседу психолога с клиентом,</li>
          <li>проведение методик, позволяющих раскрыть сущность проблемы клиента,</li>
          <li>выполнение практических упражнений,</li>
          <li>домашние задания, рекомендации клиенту на будущее.</li>
        </ul>
        <p class="popup__text">
        Приём происходит в специально созданной атмосфере, которая обеспечивает самораскрытие клиента. Индивидуальная консультация психолога — время, когда ничто лишнее не отвлекает от самопознания.
        </p>
        <p>
          Одна консультация психолога длится около часа. Количество необходимых приёмов психолога зависит от конкретной проблемы, с которой приходит клиент. Краткосрочное консультирование может длится от 1 до 5 посещений специалиста. За данное время клиент получает общее понимание ситуации, а также может скорректировать многие затруднительные ситуации. Длительное консультирование может занимать от нескольких недель до нескольких месяцев, если требуется проработать глубокие психологические проблемы.
        </p>
      </div>
      <p class="popup__format">онлайн / офлайн</p>
    </div>
  </div>

  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="service-2">
    <button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content popup__content">
      <h3 class="popup__title">Пакет консультаций</h3>
      <p class="popup__price">22 000 руб / 5 консультаций</p>
      <div class="popup__descr">
        <p class="popup__text">
          Иногда бывает достаточно одной встречи, чтобы ответить на интересующие вопросы. Бывает так, что четко сформулированный запрос и понимание того, что ожидает клиент от данной консультации, дает возможность наметить марштут дальнейшего развития.
        </p>
        <p class="popup__text">
          Я сторонник краткосрочного подхода в психологическом консультировании и психотерапии. Это чаще всего 4 - 5 встреч. Но многое  зависит от характера вашего запроса и ваших психологических особенностей. Если повод обращения является вполне конкретным: принятие важного решения, подготовка перед значимым событием — повышение уверенности, уменьшение тревоги; то будет достаточно одной или нескольких встреч. Если запрос более общий, так или иначе связанный с неудовлетворенностью в целом жизнью, работой, отношениями, то я бы рекомендовала долгосрочные форматы работы.
        </p>
      </div>
    </div>
  </div>

  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="service-3">
    <button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content popup__content">
      <h3 class="popup__title">Сопровождение в протоколе ЭКО</h3>
      <p class="popup__price">25 000 руб / месяц</p>
      <div class="popup__descr">
        <ul class="list-reset">Я помогу вам:
          <li>понять и убедиться, что реализация себя в материнстве - это ваш личный выбор, а не уступка давлению окружающих и социальных стереотипов "так принято"</li>
          <li>исследовать бессознательные психические процессы, препятствующие зачатию и вынашиванию беременности, выявить и устранить внутренние "барьеры" для рождения ребенка</li>
          <li>создать оптимальный настрой на прохождение всех стадий экстракорпорального оплодотворения ЭКО, избавиться от лишней тревожности и напряжения</li>
          <li>преодолеть переживания и разочарования при неудачных попытках ЭКО</li>
          <li>настроится на благополучное вынашивание беременности, улучшить готовность к материнству,подготовится к уходу за ребенком</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="service-4">
    <button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content popup__content">
      <h3 class="popup__title">VIP-Сопровождение в протоколе ЭКО </h3>
      <p class="popup__price">50 000 руб / месяц</p>
      <div class="popup__descr">
        <p class="popup__text">Вступление в протокол ЭКО - это важный, но тревожный момент.</p>
        <p class="popup__text">Моя ежедневная поддержка поможет преодолеть этот этап с максимальным психологическим комфортом.</p>
      </div>
    </div>
  </div>

</div>
