<section class="order" id="contacts">
  <div class="order__wrapper container">
    <h2 class="order__title">сделайте первый шаг уже сейчас</h2>
    <p class="order__text">
      Оставьте свои контактные данные, и я вскоре с Вами свяжусь.
      Вместе мы найдем решение вашей проблемы !
    </p>
    <form action="#" class="order__form form">
      <div class="form__wrapper">
        <label class="form__label">
          <input class="input-reset form__input input-name" type="text" name="Имя" placeholder="Имя">
        </label>
        <label class="form__label">
          <input class="input-reset form__input input-tel" type="tel" name="Телефон" placeholder="Телефон">
        </label>
      </div>

      <button class="btn-reset button form__btn">Записаться</button>
    </form>
  </div>
</section>
