<section class="process">
  <div class="container">
    <h2 class="process__title">Как я работаю</h2>
    <ul class="list-reset process__list">
      <li class="process__item">
        <div class="process__content">
          <p class="process__number">
            /01
          </p>
          <p class="process__descr">
            Вы связываетесь со мной, оставив заявку или через сообщение в мессенджер (WhatsApp или Telegram).
          </p>
        </div>
        <div class="process__shadow"></div>
      </li>
      <li class="process__item">
        <div class="process__content">
          <p class="process__number">
            /02
          </p>
          <p class="process__descr">
            Мы договариваемся об удобном для Вас времени и формате встречи (онлайн или очно в Москве).
          </p>
        </div>
        <div class="process__shadow"></div>

      </li>
      <li class="process__item">
        <div class="process__content">
          <p class="process__number">
            /03
          </p>
          <p class="process__descr">
            В назначенное время мы с Вами встречаемся и решаем Ваши вопросы.
          </p>
        </div>
        <div class="process__shadow"></div>



    </ul>

  </div>
</section>
