<section class="services" id="services">
  <div class="container">
    <h2 class="services__title">Услуги</h2>
    <ul class="list-reset services__list">
      <li class="services__item">
        <h3 class="services__subtitle">Разовая консультация</h3>
        <p class="services__price">5000 руб / 55 мин</p>
        <p class="services__descr">
          Возможность на одну встречу решить актуальный вопрос
        </p>
        <p class="services__format">онлайн / офлайн</p>
        <button class="btn-reset services__link" data-graph-path="service-1">Подробнее</button>
      </li>
      <li class="services__item">
        <h3 class="services__subtitle">Пакет консультаций</h3>
        <p class="services__price">22 000 руб / 5 консультаций</p>
        <p class="services__descr">
          Пакет для серьезной проработки вопроса, Успеем обсудить запрос, построить пути решения проблемы, сделать
          первые шаги и подвести итоги
        </p>
        <p class="services__format">онлайн / офлайн</p>
        <button class="btn-reset services__link" data-graph-path="service-2">Подробнее</button>
      </li>
      <li class="services__item">
        <h3 class="services__subtitle">Сопровождение в протоколе ЭКО</h3>
        <p class="services__price">25 000 руб / месяц</p>
        <p class="services__descr">
          4 консультации + психологическая поддержка через мессенджер в письменном или аудио форматах
          2 раза в неделю с 9.00 до 18.00
        </p>
        <p class="services__format">онлайн / офлайн</p>
        <button class="btn-reset services__link" data-graph-path="service-3">Подробнее</button>
      </li>
      <li class="services__item">
        <h3 class="services__subtitle">VIP- сопровождение в протоколе ЭКО</h3>
        <p class="services__price">50 000 руб / месяц</p>
        <p class="services__descr">
          4 консультации + психологическая поддержка через мессенджер в письменном или аудиоформате ЕЖЕДНЕВНО
        </p>
        <p class="services__format">онлайн / офлайн</p>
        <button class="btn-reset services__link" data-graph-path="service-4">Подробнее</button>
      </li>
    </ul>
  </div>

</section>
